/*********************************************
 * CUSTOM
 *********************************************/
.block{
  display: inline-block;
}
.left {
    float: left;
}
.right {
    float: right;
}

;
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.autobombo-list {
    margin-top: 1em !important;
    margin-right: 1em !important;
    vertical-align: top !important;
    list-style-type: circle !important;
}
.autobombo-list li {
    padding-top:0.8em
}


.not-so-big{
	font-size: 200% !important;
}
.big{
	font-size: 300% !important;
}
.bigger{
	font-size: 600% !important;
}
.biggest{
	font-size: 1000% !important;
}
.biggestest{
	font-size: 1500% !important;
}



.highlight-blue{
	color: #6082BB !important;
}
.highlight-green{
    color: #14CC14 !important;
}
.color-red{
	color: #FF0E0E !important;
}
.color-redish{
	color: #8B0000 !important;
}
.color-blue{
	color: blue !important;
}
.color-yellow{
	color: #FFFF00 !important;
}
.text-shadow{
	text-shadow: 1px 1px 1px grey;
}
.orange{
  color:orange;
}
.orange .text{
  font-size: 150%;
  text-shadow: 1px 1px 1px grey;
}
